header {
 display: grid;
 grid-template-columns: 1fr min-content 1fr;
 align-items:center;
 justify-items: center;
 margin: 0 auto;
 font-size: 18px;
 padding: 90px 0px 94px 1px;
}

.menu--list .menu--list__text {
  list-style:none;
  text-decoration: none;
}

.menu li {
  margin: 0px 9px 1 15px;
  text-decoration: underline;
  text-underline-position: under;
}

.menu--list {
  padding: 0px 3px 2px 9px;
  display: flex;
  list-style: circle;
  gap: 33px;
}

.menu--list a {
  color: #000000;
  text-decoration: none;
}

.img--logo {
  width: 136px;
}

address {
  list-style: none;
  font-style: normal;
  line-height: 23.5px;
  margin: 0px 0px 0px 112px;
  width: 208px;
}

address a {
  color: #000000;
}

address p {
  padding-top: 2px;
}

.address--underline {
  text-decoration: underline;
  text-underline-position: under;
}

.cover {
  min-height: 757px;
  background: url(../images/cover.jpg) center/cover no-repeat;
  color: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover__title {
  position: relative;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  z-index: 1;
  padding: 165px 0 0 50px;
  margin: 0;
}

.cover__line {
  display: block;
}

.cover__line_mid {
  padding: 20px 0 20px 330.5px;
}

.cover__line_bot {
  padding-left: 614px;
}

.description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px 49px;
}

.description p {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18.5px;
  margin: 0;
}

.description button {
  height: 51px;
  width: 256px;
  background-color: transparent;
  font-size: 22px;
  text-transform: uppercase;
  border: 1px solid #fff;
  color: currentColor;
  cursor: pointer;
}

.lots {
  display: flex;
  flex-direction: column;
}

.lots h2 {
  padding: 180px 0 27px 64px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots--list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 24px;
  gap: 25px;
  margin: 0 auto;
}

.lots--list li {
  flex: 1 1 334px;
  min-width: 334px;
}

.lots--list a {
  text-decoration: none;
  display: block;
  height: 100%;
}

.lots--list__container {
  height: 596px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 47px 40px 47px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

.lots--list__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0; 
}

.lots--list__container h3 {
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  text-decoration: underline;
  text-underline-position: under;
  text-transform: uppercase;
  text-decoration-thickness: 1px;
  margin: 0;
  position: relative;
  z-index: 1; 
}

.lots--list__container p {
  font-size: 20px;
  color: #fff;
  margin: 0;
  position: relative;
  z-index: 1; 
}

.lots--list__background1 {
  background-image: url(../images/card-lot-01.jpg);
}

.lots--list__background2 {
  background-image: url(../images/card-lot-02.jpg);
}

.lots--list__background3 {
  background-image: url(../images/card-lot-03.jpg);
}

.lots-list__expand {
  font-size: 20px;
  padding: 31px 0 119px 64px;
  text-decoration: underline;
  text-underline-position: under;
  text-decoration-thickness: 1px;
  text-underline-offset: 1px;
}

.about {
  display: flex;
  padding: 0 0 180px 0;
  gap: 25px; 
}

.about--column {
  display: flex;
  gap: 24px;
  flex: 1;
  flex-direction: column; 
  max-width: 734px;
  padding: 0 0 0 46px; 
}

.about--column h2 {
  font-size: 40px;
  text-transform: uppercase;
  padding: 135px 0 76px 0; 
  margin: 0;
}

.about--logo {
  background-color: #000000;
  width: 240px;
  height: 240px;
  min-width: 240px; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 0px 0px 72px;
}

.about--logo img {
  width: 148px;
}

.about--column p {
  font-size: 20px;
  flex-direction: column; 
}

footer {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  padding-bottom: 90px;
}

.address--footer {
  padding-left: 51px;
  margin: 0;
  width: 316px;
}

.address--footer li {
  padding-bottom:2px;
}

.address--footer ul {
  list-style:none;
}

.nav--footer {
  padding: 1px 25px 0px 0px;
  text-align: center;
}

.nav--footer ul {
  list-style:none;
  flex-direction: column;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: row;
  list-style:none;
  gap: 48px;
  padding-right: 50px;
}

.address--footer__underline {
  text-decoration: underline;
  text-underline-position: under;
  padding-bottom: 2px;
}

.nav--footer__underline a {
  text-decoration: underline;
  text-underline-position: under;
}

.footer__nav-link--active a {
  text-decoration: none;
}

.social img {
  width: 48px;
}